@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");

html::before,
html::after,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}

h2,
p {
  margin: 0;
  padding: 0;
}

:root {
  /* -----font styles and sizes--------- */
  --fontFamily: "Red Hat Text", sans-serif;
  --fontWeight: 700;

  /* ------Primary Colors------------- */
  --grayishBlue: hsl(237, 18%, 59%);
  --softRed: hsl(345, 95%, 68%);

  /* -------Neutral Colors------------ */
  --white: hsl(0, 0%, 100%);
  --darkDesaturatedBlue: hsl(236, 21%, 26%);
  --veryDarkBlue: hsl(235, 16%, 14%);
  --veryDarkMostlyBlackBlue: hsl(234, 17%, 12%);
}
